<div class="card card-w-title content" *ngIf="entityForm">
    <div class="ui-g-12 ui-md-6">
        <form [formGroup]="entityForm">
            <p-panel header="Worker">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 30px 30px">

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"></div>
                        <div class="ui-grid-col-2">Product*:</div>
                        <div class="ui-grid-col-9">
                            <p-dropdown [options]="products" placeholder="Product"
                                optionLabel="${type.description [weight, height, length]}" formControlName="productId"
                                class="my-drop">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"></div>
                        <div class="ui-grid-col-2">Product Type:</div>
                        <div class="ui-grid-col-9">
                            <input value="this.entityForm.productId.type.description" pInputText type="text" placeholder="Type"
                                [readonly]="true" />
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"></div>
                        <div class="ui-grid-col-2">Product Weight:</div>
                        <div class="ui-grid-col-9">
                            <input value="this.entityForm.productId.weight" pInputText type="text"
                                placeholder="Weight" [readonly]="true" />
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"></div>
                        <div class="ui-grid-col-2">Product Height:</div>
                        <div class="ui-grid-col-9">
                            <input value="this.entityForm.productId.height" pInputText type="text" placeholder="Height"
                                [readonly]="true" />
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"></div>
                        <div class="ui-grid-col-2">Product Length:</div>
                        <div class="ui-grid-col-9">
                            <input value="this.entityForm.productId.length" pInputText type="text" placeholder="Length"
                                [readonly]="true" />
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"></div>
                        <div class="ui-grid-col-2">Product Type:</div>
                        <div class="ui-grid-col-9">
                            <input value="this.entityForm.productId.type.color" pInputText type="text" placeholder="Colour"
                                [readonly]="true" />
                        </div>
                    </div>

                </div>
            </p-panel>
        </form>
    </div>
    <div class="ui-g-12 ui-md-6">
        <form [formGroup]="entityForm">
            <p-panel header="Worker">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 30px 30px">

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"></div>
                        <div class="ui-grid-col-2">Product Cardboard Number*:</div>
                        <div class="ui-grid-col-9">
                            <input formControlName="pccNumber" pInputText type="text"
                                placeholder="Product Cardboard Number" [readonly]="true" />
                            <div *ngIf="(entityForm.controls['pccNumber'].invalid 
                                         && (entityForm.controls['pccNumber'].touched
                                       ||entityForm.controls['pccNumber'].dirty))">
                                <p style="color: red">Product Cardboard Number is required.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"></div>
                        <div class="ui-grid-col-2">Start Date*:</div>
                        <div class="ui-grid-col-9">
                            <p-calendar appendTo="body" placeholder="Start Date" formControlName="startDate"
                                [showButtonBar]="true" [showIcon]="true" dateFormat="dd.mm.yy">
                            </p-calendar>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"></div>
                        <div class="ui-grid-col-2">End Date*:</div>
                        <div class="ui-grid-col-9">
                            <p-calendar appendTo="body" placeholder="End Date" formControlName="endDate"
                                [showButtonBar]="true" [showIcon]="true" dateFormat="dd.mm.yy">
                            </p-calendar>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <button pButton type="button" label="SAVE" icon="pi pi-save" iconPos="left"
                                [disabled]="entityForm.invalid" class="submit-button"></button>
                        </div>
                    </div>
                </div>
            </p-panel>
        </form>
    </div>
</div>