<p-toast></p-toast>
<div class="container">
    <div class="row">
        <div class="col-6">
            <p-panel [showHeader]="false">
                <form [formGroup]="entityForm">
                    <div class="col-5">
                        <div class="row">Product Cardboard Number*:</div>
                        <div class="row">
                            <input formControlName="pccNumber" pInputText type="text"
                                placeholder="Product Cardboard Number" [readonly]="true" />
                            <div *ngIf="(entityForm.controls['pccNumber'].invalid 
                                                     && (entityForm.controls['pccNumber'].touched
                                                   ||entityForm.controls['pccNumber'].dirty))">
                                <p style="color: red">Product Cardboard Number is required.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="row">Start Date*:</div>
                        <div class="row">
                            <p-calendar appendTo="body" placeholder="Start Date" formControlName="startDate"
                                [showButtonBar]="true" [showIcon]="true" dataType="string">
                            </p-calendar>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="row">End Date*:</div>
                        <div class="row">
                            <p-calendar appendTo="body" placeholder="End Date" formControlName="endDate"
                                [showButtonBar]="true" [showIcon]="true" dataType="string">
                            </p-calendar>
                        </div>
                    </div>


                    <div class="col-5">
                        <div class="row">Product*:</div>
                        <div class="row">
                            <p-dropdown [options]="products" placeholder="Product" optionValue="id"
                                formControlName="productId" optionLabel="Selected product"
                                [(ngModel)]="this.selectedProduct">
                                <ng-template pTemplate="item" let-item>
                                    <div class="ui-helper-clearfix">
                                        <div style="float:left;">
                                            {{ item.type.description }}
                                        </div>
                                        <div style="float:left">
                                            h: {{item.height}} cm; w: {{item.weight}} kg; l: {{item.length}} cm
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="row">Product Type:</div>
                        <div class="row">
                            <input formControlName="type" pInputText type="text" placeholder="Type" [readonly]="true" />
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">Product Weight (in kg):</div>
                        <div class="row">
                            <input formControlName="weight" pInputText type="text" placeholder="Weight"
                                [readonly]="true" />
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">Product Height (in cm):</div>
                        <div class="row">
                            <input formControlName="height" pInputText type="text" placeholder="Height"
                                [readonly]="true" />
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">Product Length (in cm):</div>
                        <div class="row">
                            <input formControlName="length" pInputText type="text" placeholder="Length"
                                [readonly]="true" />
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <button pButton type="button" label="SAVE" icon="pi pi-save" iconPos="left"
                                [disabled]="entityForm.invalid" class="submit-button"></button>
                        </div>
                    </div>
                </form>
            </p-panel>
        </div>
        <div class="col-6">
            <p-panel [showHeader]="false">
                <form [formGroup]="phaseForm">
                    <p-table #dt [value]="this.productCardboardPhases" [rowExpandMode]="'multiple'" dataKey="pccNumber"
                        [autoLayout]="true" columnResizeMode="expand" [lazy]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Phase</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-phases>
                            <tr>
                                <td>{{phases.phase.description}}</td>
                                <td>{{phases.status.description}}</td>
                                <td>
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPhase(phases)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePhase(phases)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <div class="col-5">
                        <div class="row">Phase*:</div>
                        <div class="row">
                            <p-dropdown [options]="phases" placeholder="Phase" optionValue="id"
                                formControlName="phaseId" optionLabel="description">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="row">Status*:</div>
                        <div class="row">
                            <p-dropdown [options]="statuses" placeholder="Status" optionValue="id"
                                formControlName="statusId" optionLabel="description">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="row">
                            <button pButton type="button" label="ADD PHASE" icon="pi pi-plus-circle" iconPos="left"
                                [disabled]="phaseForm.invalid" class="submit-button" (onClick)="addPhase()"></button>
                        </div>
                    </div>
                </form>
            </p-panel>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>